.info
{
    width: 73%;
    text-align: justify;
    margin: 0 auto;
    padding-top: 3rem;
    line-height: 3rem;
}

.about
{
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgb(95, 70, 49)), url(../assets/contenu/banniere-assainissement.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.style-border
{
    width: calc(201% + 1.3px);
    height: 60px;
    width: calc(100% + 1.3px);
    bottom: 0px;
    position: absolute;
    transform: rotate(180deg);
}

@media screen and (max-width: 844px) 
{
    .about p
    {
        width: 90%;
        letter-spacing: 1px;
    }

    .info
    {
        width: 90%;
    }

    .info p
    {
        letter-spacing: -1px;
    }
}