@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300;400;700&display=swap');


 /* title section  */

h2, p, h3, h4, a
{
    font-family: 'Comfortaa', sans-serif;
}

h2, h3, .tel-container
{
    padding-bottom: 2rem;
}

.invalid-feedback
{
    display: none;
    /* display: block; */
    font-size: 0.775em;
}

/* form section */

.contact
{
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 0 3rem;
    margin-top: -3rem;
    background: rgba(255,255,255,1);
}

.row
{
    margin: 5rem auto;
}

.contact-info
{
    margin: auto 0;
}

.btn-link
{
    border: 2px solid #FF640A;
    border-radius: 5px;
    background: none;
    text-decoration: none;
    padding: .5rem 1rem;
    color: #FF640A;
    /* transition-delay: .3s; */
    transition-duration: .5s;
    margin-top: 1rem;
}

.btn-link:hover
{
    color: #FFF;
    background-color: #FF640A;
}

/* label
{
    display: none;
} */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) 
{
    /* Styles pour cette Media Queries */
    section.contact.container > div > div.contact-img.col
    {
        display: none;
    }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1199px) 
{
    /* Styles pour cette Media Queries */
    section.contact.container > div > div.contact-img.col
    {
        display: none;
    }
}


