@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@300;400;700&display=swap');

footer
{
    height: auto;
    width: 100%;
    background-color: #222;
}

.footer-link-container {  
    padding: 3em 0;
    width: 60%;
    justify-content: space-around;
}

footer .width-element-2
{
    width: 40%;
}


.footer-link a
{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-link a:hover
{
    color: lightgrey;
    text-decoration: none;
}

.footer-copyright
{
    width: 100%;
    padding: 1em 0;
    background: rgb(0, 0, 0);
    color: white;
    font-family: 'Comfortaa', sans-serif;
}


@media screen and (max-width: 844px) {

    .footer-link-container
    {
        width: 90%;
        justify-content: space-between;
    }

    .footer-copyright
    {
        font-size: small;
    } 

}