nav
{
    width: 73%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-logo
{
    width: auto;
}

img
{
    width: 47%;
}

.nav-links
{
    display: flex;
    justify-content: space-between;
    width: 25%;
    padding: 0;
}

.nav-links a
{
    background-image: linear-gradient(to right, orange, orange 50%,#000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.nav-links a:before
{
    content: '';
    background: orange;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover
{
    background-position: 0;
}

.nav-links a:hover::before
{
    width: 100%;
}

.style-nav-active
{
    color: orange;
}

.nav-burger
{
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: inherit;
    display: none;
}


@media screen and (max-width: 844px) {
    
    nav
    {
        justify-content: center;
        width: auto;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        z-index: 1;
        -webkit-box-shadow: 0px 3px 4px -1px rgb(0 0 0 / 57%);
        box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 57%);
    }

    .nav-logo
    {
        text-align: center;
    }

    .nav-links
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -150%;
        bottom: 0;
        height: 100%;
        background-color: white;
        visibility: hidden;
    }

    .show-responsive-nav .nav-links
    {
        right: 0;
        width: 100%;
        visibility: visible;
        
    }

    .show-responsive-nav .nav-links, .hide-nav .nav-links
    {
        transition: all .6s ease-in-out;
    }

    .nav-links a
    {
        background-image: linear-gradient(to right, orange, orange 50%,black 50%);
        padding: 1em;
        font-size: 5vw;
    }

    .nav-burger
    {
        display: block;
        position: fixed;
        top: 2em;
        right: 2em;
        padding: 0;
    }
    
    .nav-burger:hover
    {
        display: block;
    }

    .burger-bar,
    .burger-bar::after,
    .burger-bar::before
    {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: orange;
        transition: all .3s ease-in-out;
    }

    .burger-bar::after,
    .burger-bar::before
    {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before
    {
        background-color: orange;
        transform: translateY(-12px);
    }

    .burger-bar::after
    {
        background-color: orange;
        transform: translateY(12px);
    }

    .show-responsive-nav .burger-bar
    {
        background-color: transparent;
        width: 0;
    }

    .show-responsive-nav .burger-bar::before
    {
        transform: rotate(45deg);
    }
    
    .show-responsive-nav .burger-bar::after
    {
        transform: rotate(-45deg);
    }

    

}

