/* .container-main
{
    padding-top: 117px;
} */


/*************** GENERIC FLEX STTYLES *********************/

.flex-col
{
    display: flex;
    flex-direction: column;
}

.flex-display-row
{
    display: flex;
    flex-direction: row;
}

.flex-align-c
{
    align-items: center;
}

.flex-justify-c
{
    justify-content: center;
}

.flex-space-b
{
    justify-content: space-between;
}

.flex-space-a
{
    justify-content: space-around;
}

/*************** END *********************/

/* .container-title
{
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgb(95, 70, 49)), url('/src/assets/contenu/camion\ arriere\ plan\ blanc.jpg'); 

} */


p
{
    text-align: justify;
}

.container-main,
.home,
.container-section,
section
{
    width: 100%;
}

.container-main
{
    padding-top: 117px;
}

section
{
    padding: 2em 0;
    overflow-x: hidden;
}


.container-title-cel, .section-cel
{
    width: 75%;
}

.container-title-cel p
{
    width: 60%;
}

.txt-center
{
    text-align: center;
}

.width-element-2
{
    width: 45%;
}

.width-element-3
{
    width: calc(100%/3.5);
}

.fourth-module h2
{
    margin: 0;
    padding-top: .5em;
}

.pomper, .curer, .déboucher
{
    width: 18em;
    height: 18em;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.pomper
{
    background: url(../assets/contenu/pompage.jpg);
    background-size: cover;
}

.curer
{
    background: url(../assets/contenu/slide\ 1-1.jpg);
    background-size: cover;
}

.déboucher
{
    background: url(../assets/contenu/debouche.jpg);
    background-size: cover;
}


.map
{
    width: 77%;
}






@media screen and (max-width: 844px) {

    /* .home
    {
        margin-top: 80px;
        height: 30vh!important;
    }

    .home h1, .home p
    {
        GOOD MODULE : 2
        PROBLÈMES MODULE , 
    } */

    .container-title-cel, .section-cel
    {
        text-align: center;
        width: 90%;
    }

    .container-title-cel p
    {
        width: 100%;
    }

    .flex-display-row
    {
        flex-direction: column;
        align-items: center;
    }
    
    .flex-display-row .flex-justify-c
    {
        align-items: center;
    }

    .width-element-2, .width-element-3
    {
        width: 70%;
    }

    .pomper, .curer, .déboucher
    {
        width: 11em;
        height: 11em;
    }

    .map
    {
        width: auto;
    }



}









