.container-main
{
    padding-top: 117px;
}

p
{
    text-align: justify;
}

.home p
{
    width: 60%;
}

.main
{
    margin: 0 auto;
    width: 73%;
}

.container-left, .container-right, .container-icon
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-row
{
    display: flex;
    justify-content: space-between;  
}

.container-row-img
{
    width: 45%;
    text-align: center;
    /* animation-name: slide-left;
    transition-delay:.3s;
    animation-duration: 1.5s; */
}

.container-row-info
{
    width: 45%;
    /* animation-name: slide-right;
    transition-delay:.3s;
    animation-duration: 1.5s; */
}

.why-contact
{
    width: 100%;
    
}

.why-contact div, .icon-dcp
{
    width: 30%;
}

.why-contact-title, .why-contact, .service-title
{
    text-align: center;
}

.icon
{
    height: 3em;
}

.container-service
{
    width: 100%;
}

.icon-dcp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25em;
}

.icon-dcp h2
{
    padding-bottom: 1.5em;
}

.icon-dcp p
{
    padding: 0;
}

.pomper, .curer, .déboucher
{
    width: 18em;
    height: 18em;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    
    border-radius: 50%;
}

.pomper
{
    background: url(../assets/contenu/pompage.jpg);
    background-size: cover;
}

.curer
{
    background: url(../assets/contenu/slide\ 1-1.jpg);
    background-size: cover;
}

.déboucher
{
    background: url(../assets/contenu/debouche.jpg);
    background-size: cover;
}


.map
{
    width: 100%;
    align-items: center;
}

.map div
{
    width: 45%;
}

.map div + div
{
    text-align: center;
}

.map img
{
    width: 90%;
}


/* @keyframes slide-left {
    from {transform: translate(-100px); opacity: 0;}
    to {transform: translate(0px); opacity: 1;}
    
}

@keyframes slide-right {
    from {transform: translate(+100px); opacity: 0;}
    to {transform: translate(0px); opacity: 1;}
    
} */